{% extends 'base.html' %}

{% block head %}
<title>{{ pot.pot_of_gold_name }}</title>
{% endblock %}

{% block body %}
    <h1>{{ pot.pot_of_gold_name }}</h1>
    <h3>This pot has ${{ pot.current_amount }} in it</h3>
    <form action="/deposit" method="post">
        <input type="hidden" name="pot_of_gold_id" value="{{ pot.pot_of_gold_id }}">
        <input type="hidden" name="user_id" value="{{ pot.user_id }}">
        <input type="hidden" name="current_amount" value="{{ pot.current_amount }}">
        <input type="hidden" name="pot_of_gold_name" value="{{ pot.pot_of_gold_name }}">
        <input type="hidden" name="auto_increment" value="{{ pot.auto_increment }}">
        <input type="number" step="0.01" name="amount" value="">
        <button type="submit">Make one time deposit</button>
        <label>Comment: </label><input type="text" name="comment" value="">
    </form>

    <form action="/debit" method="post">
        <input type="hidden" name="pot_of_gold_id" value="{{ pot.pot_of_gold_id }}">
        <input type="hidden" name="user_id" value="{{ pot.user_id }}">
        <input type="hidden" name="current_amount" value="{{ pot.current_amount }}">
        <input type="hidden" name="pot_of_gold_name" value="{{ pot.pot_of_gold_name }}">
        <input type="hidden" name="auto_increment" value="{{ pot.auto_increment }}">
        <input type="number" step="0.01"  name="amount" value="">
        
        <button type="submit">I Spent some of this</button>
        <label>Comment: </label><input type="text" name="comment" value="">
    </form>

    <div class="medium-border padding-10">
        <h3>Auto increment details</h3>
        <form action="/update" method="post">
            <input type="hidden" name="pot_of_gold_id" value="{{ pot.pot_of_gold_id }}">
            <input type="hidden" name="user_id" value="{{ pot.user_id }}">
            <input type="hidden" name="current_amount" value="{{ pot.current_amount }}">
            <input type="hidden" name="pot_of_gold_name" value="{{ pot.pot_of_gold_name }}">
    
            <select name="auto_increment">
                <option value="False" {% if pot.auto_increment!=1 %} selected="selected"{% endif %}>Don't auto increment</option>
                <option value="True" {% if pot.auto_increment==1 %} selected="selected"{% endif %}>Auto Increment</option>
            </select>
            
            <button type="submit">Save</button>
        </form>
        <hr>
        <form action="/increment_update" method="post">
            <input type="hidden" name="pot_of_gold_id" value="{{ pot.pot_of_gold_id }}">
            <input type="hidden" name="auto_increment_option_id" value="1">
            <label>Amount:</label> <input type="number" step="0.01"  name="increment_amount" {% if increment %}value="{{ increment.increment_amount }}"{% endif %}>
            <br>
            {% if increment %}
                {% if increment.most_recent_increment %}<input type="hidden" name="most_recent_increment" value="{{ increment.most_recent_increment }}">{% endif %}
                {% if increment.next_increment %}<input type="hidden" name="next_increment" value="{{ increment.next_increment }}">{% endif %}
            {% else %}
                <label>Next Increment Date:</label> <input class="" type="date" name="next_increment">
            {% endif %}
            <br>
            <button type="submit">Save</button>
        </form>
    </div>

    <table id="pot-{{ pot.pot_of_gold_id }}-history" class="table">
        <thead>
            <tr>
                <th>Activity Comment</th>
                <th>Change</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
        {% for history in history_list %}
            <tr>
                <td>{{ history.comment }}</td>
                <td>{{ history.new_amount - history.previous_amount}} </td>
                <td>{{ history.pot_of_gold_history_timestamp}} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/pots/{{ pot.user_id }}">Back to List</a>
    <script>
        $(document).ready( function () {
            $("#pot-{{ pot.pot_of_gold_id }}-history").DataTable({
                "order": [ [ 2, 'desc' ]]
            });
        } );
    </script>
{% endblock %}
