body {
    margin: auto;
}

h1 {
    color: blue
}

.medium-border {
    border-style: solid;
    border-width: medium;
}

.padding-10 {
    padding: 10px;
}
.hidden {
    display: none;
}
#hidden-row {
    cursor: pointer;
}